.App {
  max-width: 600px;
  margin: 30px auto;
  background-image: url("./img/clouds.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid rgb(5, 6, 77);
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}
