.WeatherForecast {
  text-align: center;
}

.WeatherForecast-wrap {
  margin-top: 15px;
  padding: 15px 10px;
  border: 1px solid #dadde1;
  border-radius: 4px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
